 body{
  background-color: white;

}
 nav{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #2e2e2e;
    position: fixed;
    height: 100%;
    overflow: auto;

} 
.card{
  display: flex;
  justify-content: flex-start;
  width: 260px;
  border-radius: 10px;
}
.card-title{
  display: flex;
  justify-content: center;
}
.card-ticker{
  display: flex;
  
}
.card-item{
  display: flex;
  justify-content: center;
}


.portfolio-page-title{
  display: flex;

}

.card-action{
  display: flex;
  align-items: flex-end;
}
.stock-header{
  display: flex;
  

}
.crypto-header{
  display: flex;
  

} 

footer{
  position: relative;
  bottom: 0;
  left: 88%;
  height: 2.5rem;    
}