@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(30, 30, 40);
  color: white;
}
nav {
  margin: 0;
  padding: 0;
  width: 15rem;
  background-color: #2e2e2e;
  position: fixed;
  height: 100%;
  overflow: auto;
}

main {
  margin-left: 15rem;
  width: 87%;
}

a {
  color: red;
  text-decoration: none;
}

form {
  display: flex;
  margin: 5rem 15rem;
  align-items: stretch;
}

table {
  width: 100%;
}

.left-brand-logo {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 20px 10px;
  font-size: 1.5rem;
}

.main-container {
  width: 96%;
}

.nav-item {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 20px 10px;
}
/* Portfolio Cards */
.card {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
}
.card-title {
  display: flex;
  justify-content: flex-start;
}
.card-ticker {
  display: flex;
  font-size: 1.5rem;
  font-family: "Black Han Sans", sans-serif;
}
.card-item {
  display: flex;
  justify-content: flex-start;
}

.card-content {
  padding: 0.5rem;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 2rem;
  width: 80%;
}

.stock-header,
.crypto-header {
  position: relative;
  padding: 2rem 3rem;
  font-size: 3rem;
  font-family: "Space Mono", monospace;
}

.page-title {
  text-align: center;
  position: relative;
  padding: 30px;
  font-size: 4rem;
  font-family: "Space Mono", monospace;
}

/* Details Card */

.row {
  display: grid;
  justify-items: center;
  margin-top: 2rem;
}

.card-action {
  display: grid;
  margin: 4rem 10rem 0rem 10rem;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.card-details {
  display: flex;
  width: 20rem;
  border: 5px white solid;
  height: 300px;
  font-size: 20px;
  border-radius: 10px;
}

.detail-btn {
  width: 50%;
}

/* Footer */
.legal-right {
  position: absolute;
  bottom: 0;
  left: 88%;
  height: 2.5rem;
}

/* log in page */

.login-box {
  max-width: 420px;
  margin: 50px auto;
}

input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 17%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 700;
}
[type="submit"]:hover,
button:hover,
.login-submit:hover {
  background: #cc4949;
}

button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 8rem;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.login-submit {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

.line {
  display: flex;
  border: 1px solid white;
  margin: 2rem;
}

.about,
.home {
  position: relative;
  top: 1rem;
}
.header {
  text-align: center;
  position: relative;
  padding: 30px;
  font-size: 4rem;
  font-family: "Space Mono", monospace;
}

.para {
  text-align: center;
  position: relative;
  padding: 30px;
  font-size: 1rem;
}
