{% extends 'base.html' %}
{% block content %}

<h1>Crypto Details</h1>

<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-details">
            <span class="card-title">{{ crypto.name }}</span>
            <div>Ticker: {{crypto.ticker}}</div>
            <div>Purchase Price: {{crypto.purchase_price}}</div>
            <div>Purchase Date: {{crypto.purchase_date}}</div>
            <div># of Units: {{crypto.num_of_units}}</div>
        
        <div class="card-action">
          <a href="{% url 'crypto_update' crypto.id %}">Edit</a>
          <a href="{% url 'crypto_delete' crypto.id %}">Delete</a>
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}