{% extends 'base.html' %}
{% block content %}

<h1>Your Portfolio</h1>
<hr/>
<h2>Stocks</h2>
{% for s in stocks %}
  <a href="{% url 'stock_detail' s.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ s.name }}</span>
            <p>Ticker: {{s.ticker}}</p>
            <p>Purchase Price: ${{s.purchase_price}}</p>
            <p>Purchase Date: {{s.purchase_date}}</p>
            <p># of Units: {{s.num_of_units}}</p>
            <p>Book Value: ${{ s.book_value }}</p>
            <p>Market Value: ${{s.market_value}}</p>
            <!-- <p>Profit: {{s.profit}}</p> -->
        </div>
    </div>
  </a>
{% endfor %}

<h2>Crypto</h2>
{% for c in crypto %}
  <a href="{% url 'crypto_detail' c.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ c.name }}</span>
            <p>Ticker: {{ c.ticker }}</p>
            <p>Purchase Price: ${{ c.purchase_price }}</p>
            <p>Purchase Date: {{ c.purchase_date }}</p>
            <p># of Units: {{ c.num_of_units }}</p>
            <p>Book Value: ${{ c.book_value }}</p>
            <p>Market Value: ${{c.market_value}}</p>
            <!-- <p>Profit: {{c.profit}}</p> -->
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}

