{% extends 'base.html' %}
{% block content %}

<h1>Your Portfolio</h1>
<hr/>
{% for s in stocks %}
  <a href="{% url 'detail' s.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ s.name }}</span>
            <p>Ticker: {{s.ticker}}</p>
            <p>Purchase Price: {{s.purchase_price}}</p>
            <p>Purchase Date: {{s.purchase_date}}</p>
            <p># of Units: {{s.num_of_units}}</p>
            <p>Book Value: {{ s.book_value }}</p>
            <p>Market Value: </p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}

