{% extends 'base.html' %}
{% block content %}

<h1>Stock Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card-details">
          <ul>
            <span class="card-title">{{ stock.name }}</span>
            <div>{{stock.ticker}}</div>
            <div>Purchase Price: {{stock.purchase_price}}</div>
            <div>Purchase Date: {{stock.purchase_date}}</div>
            <div># of Units: {{stock.num_of_units}}</div>
          </div>
        </ul>
          <div class="card-action">
          <a href="{% url 'stock_update' stock.id %}">Edit</a>
          <a href="{% url 'stock_delete' stock.id %}">Delete</a>
        </div>
  </div>
</div>
{% endblock %}