{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> G & A Financial Tracker</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Black+Han+Sans&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/2974d6b2aa.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
            <nav>
                <div class="nav-wrapper">
                    <ul>
                        <li> <a href="/" class="left-brand-logo"> <img class="ga-logo" src="../static/images/GA_Logo-removebg-preview.png">Financial Tracker</a></li>
                    </ul>
                    <ul class="nav-bar">
                            <!-- changes below -->
                            <div><i class="fa-solid fa-circle-info"></i><a class="nav-item"href="{% url 'about' %}">About</a></div>
                        {% if user.is_authenticated %}
                            <div><i class="fa-solid fa-wallet"></i></i><a class="nav-item"href="{% url 'index' %}">Your Portfolio</a></div>
                            <div><i class="fa-solid fa-arrow-trend-up"></i><a class="nav-item"href="{% url 'add_stocks' %}">Add Stocks</a></div>
                            <div><i class="fa-solid fa-bitcoin-sign"></i><a class="nav-item"href="{% url 'add_crypto' %}">Add Crypto</a></div>
                            <div><i class="fa-solid fa-right-from-bracket"></i><a class="nav-item"href="{% url 'logout' %}">Log Out</a></div>
                        {% else %}
                            <div><i class="fa-solid fa-user-plus"></i><a class="nav-item"href="{% url 'signup' %}">Sign Up</a></div>
                            <div><i class="fa-solid fa-right-from-bracket"></i><a class="nav-item"href="{% url 'login' %}">Log In</a></div>
                        {% endif %} 
                            
                    </ul>
                </div>
            </nav>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </div>
  	<footer>
       <div class="legal-right">All Rights Reserved, &copy; 2022 BigStonks Inc. &nbsp;</div>
    </footer>
</body>
</html>